---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = (await getCollection("posts")).sort((a, b) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`/posts/${cardPost.slug}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                />
            ))
        }
    </ul>
</Layout>
